/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a modular scale
http://www.modularscale.com/?16&px&1.25&web&text
*/


/* ===== LAYOUT STYLES ===== */

#home {

background-color: #e6e6e6;

}

#resume {

background-color: #e6e6e6
 ;

}

#projects {

background-color: #e6e6e6 ;

}

#contact {

background-color: #e6e6e6 ;

}

/* mobile */

h1 {

font-size: 1.602em;
text-align: center;
padding: 1em 0em 0em 0em;

}

h2 {

font-size:1.266em;
color: #fa3a0f;
padding: 0.624em;
text-align: center;

}
#resume h2 {
font-size: 1.266em;
padding: .493em;
color: #111111;
text-align: center;
}

#resume h3 {
font-size: 1.125em;
padding: .493em;
text-align: center;
}

#resume h4 {

font-size: 1em;
padding-left: .79em;
text-align: center;
}

h5 {

font-size: 1.424em;
color: #fa3a0f;
padding: 0.624em;
text-align: center;
}

h6 {

}

img
{ border-width: 10px; 
  border-color: #404040;
  border-style: solid;
  display: block;
  margin: auto;
  width: 10em;
  height: 10em;
}

ul {
    border: 1px solid #e7e7e7;
    background-color: #b3b3b3;
    padding: .624em 0em .624em 1em;
    line-height: 1.406em;
    list-style-type: square;
}

li a {
    color: #666;
}

#resume li {

font-size:.79em;
line-height: 1.602em;

}
nav {

background-color: #404040;
padding: 1em 0em 1em 0em;
text-align: center;

}
nav a {

color: #fa3a0f;
text-decoration: none;
padding: 0em .493em 0em .493em;

}

nav a visited {

background-color: #fa3a0f;
color: #b3b3b3;
size: 110%;
}

nav a hover {

background-color: #b3b3b3;
color: #fa3a0f;
size: 125%;

}
#contact nav a {

color: #fa3a0f;
text-decoration: none;


}
/*LinkedIn Link on Contact page*/
#contact h2 a {
color: #fa3a0f;
text-decoration: none;
background-color: #404040;
padding: .424em;

}

object { 
  border-width: .624em; 
  border-color: #404040;
  border-style: solid;
  display: block;
  margin: .424em auto .424em auto;
  width:18em;
  height:10em;
}

@media only screen and (min-width: 600px) {
/* tablets */

nav {
margin:2.027em 0em 2.027em 0em;
font-size: 1.424em;

}

h1 {
font-size: 2.266em;
}

h2 {
font-size:2.027em;
}

img {
margin: 1em auto 1em auto;
width:20em;
height:20em;

}
#resume h2 {

font-size: 2.266em;
}
#resume li {

font-size:1.125em;
margin-left: .79em;
}
object {
width:30em;
height:16em;
border-width:.79em;
}


@media only screen and (min-width: 1200px) {
/* desktop */
h1 {
font-size: 3.247em;
}
h2 {
font-size: 2.887em;
}
img {

width: 30em;
height: 30em;
}
#resume li {

margin-left: 1.125em;
} 
object {

width:40em;
height:20em;
border-width: 1em;
}
#contact li {
margin-left: 1.125em;
font-size:1.424em;
}
}



